@-moz-viewport {width: device-width; scale: 1; }
@-ms-viewport {width: device-width; scale: 1; }
@-webkit-viewport {width: device-width; scale: 1; }
@viewport {width: device-width; scale: 1; }

html {
 box-sizing: border-box;
 -moz-text-size-adjust: 100%;
 -ms-text-size-adjust: 100%;
 -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: sans-serif;
  }
  *, *::before, *::after {
    box-sizing: inherit;
  }

  body {
    margin: 0;
  }

  .img-flex {
    width: 100%;
    display: block;
  }

  h1 {
    text-align: center;
  }

h3 {
  background-color: lightgrey; 
}


 .nav {
   list-style-type: none;
 }

  nav a {
   text-decoration: none;
   color: skyblue;
 }

 .masthead {
   background-color: grey;
 }

.planets {
  width: 100%;
}

h1, h2, h3, h4, h5, h6,
p, ul, ol, dl, dd, figure,
blockquote, details, hr,
fieldset, pre, table {
  margin: 0 0 1.5rem;
}

footer {
  background-color: grey;
  margin: 0;
}

.list {
  background-color: lightgrey;
}

@media only screen and (min-width:34em) {


  .nav li {
    display: inline-block;
  }

  ul {
    text-align: center;
  }

}
